<html>
    <p>Hi {{email}},</p>
    {{emailuser}}

    <p>Welcome!</p>

    <p>The LiveStack will follow the iterative of the OpenStack, one month one version. Preview now!</p>
    <ul>
        <li><a href="http://pan.baidu.com/s/1nLNTO" target="_blank">LiveStack Icehouse Stable</a> <a>&nbsp&nbsp&nbsp&nbsp Password: &nbsp&nbsp3mcq</a><a>&nbsp&nbsp&nbsp&nbsp&nbsp Md5: &nbsp&nbspb803432d40374e63583c0c9325987b9c</a></li>
        <li><a href="http://pan.baidu.com/s/1o67Gh8A" target="_blank">LiveStack Juno 2014.2.b1</a> <a>&nbsp&nbsp&nbsp&nbsp&nbsp Password: &nbsp&nbsprkc9</a><a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Md5: &nbsp&nbspd7b6a46351134b364943576ddcc1ea74</a></li>
    </ul>
    <p><a href="http://longgeek.com/2014/06/25/live-iso-usb-openstack/" target="_blank">This blog will help to you.</a></p>

<pre>Best,

Longgeek
Chief Technology Officer
Team ThStack
http://www.livestack.org/</pre>
</html>
