<html>
    <p>Hi {{email}},</p>
    {{emailuser}}

    <p>Welcome!</p>

    <p>The LiveStack will follow the iterative of the OpenStack, one month one version. Preview now!</p>
    <ul>
        <li><a href="http://pan.baidu.com/s/1jGkhJdO" target="_blank">LiveStack Icehouse Stable</a> <a>&nbsp&nbsp&nbsp&nbsp Password: pasl</a></li>
        <li><a>LiveStack Juno 2014.2.b1</a> <a>&nbsp&nbsp&nbsp&nbsp&nbspWait...</li>
    </ul>


<pre>Best,

Longgeek
Chief Technology Officer
Team ThStack
http://www.livestack.org/</pre>
</html>
